.psychologistLike {
  width: 292px;
  &:hover {
    box-shadow: 1px 0 0.4em #393126;
    border-radius: 8px;
  }
}
.favourites__card {
  // padding: 0 40px;
  margin-top: 64px;
  display: grid;
  justify-content: center;
  gap: 31px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 64px;
}

.favoritesConteiner {
  max-width: 900px;
  padding-left: 240px;
  margin: 0 auto;
  max-width: 1250px;
}

.favoritesDes {
  color: #615b52;
  font-family: "Aileron", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.wrapperPsychologistLike {
  position: relative;
  height: 250px;
  width: 292px;
}

.psychologistLikeImg {
  object-fit: cover;
  height: 250px;
  width: 292px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.psychologistFolow {
  position: absolute;
  bottom: 16px;
  right: 16px;
  background-color: rgb(208, 208, 208, 0.48);
  border-radius: 50%;
  border: none;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 48px;
  height: 48px;
}

.psychologistWrapperInfo {
  border: 1px solid #d6cdc0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: none;
  padding: 24px;
}

.psychologistName {
  color: #0c0b09;
  font-family: "Aileron", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin: 0;
}

.psychologistLikePrice {
  font-family: "Aileron", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #0c0b09;
  margin: 16px 0 0 0;
}

.likeLine {
  display: flex;
  border: 1px solid #d6cdc0;
  margin: 24px 0 14px 0;
}

.Spec {
  display: flex;
  gap: 8px;
}

.noFavoritesImage {
  margin-top: 64px;
  
}

.profileTitleNotYet {
  text-align: center;

  font-family: "Aileron", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #0c0b09;
  margin: 0 0 20px 0;
}

.favoritesDesNotYet {
  text-align: center;
  color: #615b52;
  font-family: "Aileron", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
