.profilePge {
  display: flex;
  min-height: calc(100vh - 86px - 182px);
  // margin-top: 86px;
  // margin-bottom: 182px;
}

.profilePage {
  flex: 1;
  padding: 20px 36px;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}

.profileTitle {
  font-family: "Aileron", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #0c0b09;
  margin: 0 0 20px 0;
}
