.profileConteiner {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
padding-left: 240px;
  // &:hover {
  //   padding-left: 240px;
  // }
}

.UserPage {
  min-height: 100vh;
  margin-top: 150px;
  box-sizing: border-box;
}

.profilePage {
  transition: margin-left 0.3s ease;
  display: flex;
}

.profileTitle {
  // padding-left: 240px;
  font-family: "Aileron", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #0c0b09;
  margin: 0 0 20px 0;
}

.profilePhoto {
  position: relative; /* Changed from absolute to relative */
  display: inline-block;
}

.profilePreview {
  width: 292px;
  height: 393px;
  object-fit: cover;
  border-radius: 8px;
}

.uploadButton {
  position: absolute;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: rgba(208, 208, 208, 0.48);
  bottom: 16px;
  right: 16px;
}

.profileInfo {
  padding: 0 0 0 32px;
  width: 616px;
  box-sizing: border-box;
}

.boxName {
  display: flex;
  gap: 32px;
}

.Profilefield__Email {
  margin-top: 40px;
}

.ProfileInputFirstName {
  width: 100%;
  box-sizing: border-box;
  height: 51px;
  border: 1px solid #615b52;
  border-radius: 8px;
  background-color: transparent;
  font-family: "Aileron", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-left: 10px;
  color: #615b52;
}

.ProfileInputLastName {
  width: 100%;
  box-sizing: border-box;
  height: 51px;
  border: 1px solid #615b52;
  border-radius: 8px;
  background-color: transparent;
  font-family: "Aileron", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-left: 10px;
  color: #615b52;
}

.ProfileFieldDateBirth {
  margin-top: 40px;
}

.titleDayBirth {
  font-family: "Aileron", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #0c0b09;
  margin: 0;
}

.infoBirth {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}

.labelBirth {
  font-family: "Aileron", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #4b463e;
  margin: 0;
}

.BirthBox {
  margin-top: 8px;
}

.inputBirth {
  width: 80px;
  box-sizing: border-box;
  height: 51px;
  border: 1px solid #615b52;
  border-radius: 8px;
  background-color: transparent;
  font-family: "Aileron", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-left: 10px;
  color: #615b52;
}

.inputBirthYear {
  width: 181px;
  box-sizing: border-box;
  height: 51px;
  border: 1px solid #615b52;
  border-radius: 8px;
  background-color: transparent;
  font-family: "Aileron", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-left: 10px;
  color: #615b52;
}

.saveBirth {
  margin: 38px 0 0 95px;
  text-decoration: none;
  width: 200px;
  height: 51px;
  background-color: #393126;
  border: 1px #393126 solid;
  color: #f1efe9;
  border-radius: 8px;
  font-family: "Aileron", sans-serif;
  font-weight: 700;
  font-size: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    border: 1px solid #9b6a00;
    background-color: #9b6a00;
    color: #f1efe9;
  }
}

.Profileline {
  // width: 940px;
  display: flex;
  border: 1px solid #d6cdc0;
  margin: 64px 0;
}

.DeleteBox {
  width: 616px;
  border: 1px solid #d6cdc0;
  border-radius: 16px;
  padding: 40px;
  margin: 0 auto;
  margin-bottom: 85px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.deleteTitle {
  font-family: "Aileron", sans-serif;
  font-weight: 700;
  font-size: 20px;
  align-items: center;
  text-align: center;
  color: #0c0b09;
  margin: 0 0 8px 0;
  line-height: 30px;
}

.deleteDes {
  font-family: "Aileron", sans-serif;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
  text-align: center;
  color: #615b52;
  line-height: 24px;

  margin: 0;
}

.btBox {
  display: flex;
  justify-content: center;
}

.BtDelete {
  width: 252px;
  height: 51px;
  border-radius: 8px;
  border: 1px solid #615b52;
  background-color: transparent;
  font-family: "Aileron", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  color: #615b52;
  margin-top: 32px;

  &:hover {
    border: 1px solid #9b6a00;
    background-color: #9b6a00;
    color: #f1efe9;
  }
}
