@use "../../utils/mixins.scss" as *;

.input__find {
  box-sizing: border-box;
  height: 54px;
  width: 416px;
  background: url("../../image/search.svg") no-repeat;
  background-position: 12px 13px;
  padding: 0 0 0 39px;
  border: 1px #f1efe9 solid;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Aileron", sans-serif;
  color: #e8e0d2;

  &::placeholder {
    color: #e8e0d2;
  }

  :hover {
    border: 1px #f1efe9 solid;
    color: #f1efe9;
  }

  :focus {
    color: #000000;
    border: 1px #f1efe9 solid;
  }

  @include onTablet {
    height: 51px;
    width: 200px;
    font-size: 13px;
    background-position: 5px 13px;
    padding: 0 0 0 31px;
  }

  @include onDesktop {
    height: 54px;
    width: 416px;
  }
}

.conteiner__input {
  padding: 16px 0 0 0;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  position: relative;
}

.search__result {
  box-sizing: border-box;
  background-color: rgba(51, 41, 33, 70%);
  list-style: none;
  height: 54px;
  width: 416px;

  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Aileron", sans-serif;
  color: #e8e0d2;
  position: absolute;
  padding: 0 40px 0 16px;

  &:hover {
    // rgb(66, 55, 49)
    background-color: rgba(66, 55, 49, 60%);
  }

  @include onTablet {
    height: 51px;
    width: 200px;
    font-size: 13px;
  }

  @include onDesktop{
    height: 54px;
    width: 416px;
  }
}

.search__item {
  padding: 16px 0 0 0;
  align-items: center;
  text-align: left;
}
