@use "../../utils/mixins.scss" as *;

.feel {
  margin: 112px 40px;
}

.feel__content {
  display: flex;
}

.feel__title {
  font-family: "Aileron", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: #4b463e;
  margin: 0;

  @include onTablet {
    font-size: 20px;
    line-height: 30px;
  }

  @include onDesktop {
    font-size: 28px;
    line-height: 100%;
  }
}

.feel__line {
  display: block;
  width: 100%;
  border: 1px solid #d6cdc0;
  margin: 32px 0;
}

.feel__description {
  font-family: "Aileron", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #615b52;
  margin: 0;
  width: 100%;

  @include onTablet {
    font-size: 16px;
    line-height: 24px;
  }

  @include onDesktop {
    font-size: 18px;
    line-height: 30px;
  }
}

.feel__Img {
  padding: 0 0 0 32px;
}

.feel__findButton {
  text-decoration: none;
  width: 200px;
  height: 51px;
  background-color: #393126;
  border: 1px #393126 solid;
  color: #f1efe9;
  border-radius: 8px;
  font-family: "Aileron", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 64px;

  display: flex;
  align-items: center;
  justify-content: center;

  @include onTablet {
    width: 168px;
    height: 48px;
    font-size: 16px;
    margin-top: 48px;
  }

  @include onDesktop {
    width: 200px;
    height: 51px;
    font-size: 18px;
    margin-top: 64px;
  }
}
