@use "../../utils/mixins.scss" as *;

.ourServices {
  margin: 112px 40px;
}

.card__services {
  display: block;
  // padding-top: 56px;

  // @include onTablet{
  //   display: block;
  // }

  @include onDesktop{
    display: flex;
  }
}

.services__text {
  padding-left: 32px;
}

.servides__title {
  margin: 0 0 24px 0;
  font-family: "Aileron", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

.services__description {
  font-family: "Aileron", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #4b463e;
}

.services__line {
  display: block;
  width: 100%;
  border: 1px solid #d6cdc0;
  margin: 56px 0;
}
