@use "../../utils/mixins.scss" as *;

.top_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // height: 86px;
  background-color: #2e281f4d;
  backdrop-filter: blur(48px);
  box-shadow: 0px 0px 68px 0px #ffffff0d inset;
  z-index: 10;
}

.topbar--plain {
  background: #F9F0E2;
  border-bottom: 1px solid #d6cdc0;
}

.wraper__top_bar {
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
  gap: 15px;

  @include onTablet {
    margin: 0 24px;
    justify-content: space-between;

    gap: 15px;
  }

  @include onDesktop {
    justify-content: space-between;
    // gap: 71px;

    margin: 0 40px;
  }
}

.wraper__inputFilter {
  display: flex;
  gap: 32px;

  @include onTablet {
    gap: 8px;
  }

  @include onDesktop {
    gap: 32px;
  }
}

.logo {
  // padding: 0 0 0 40px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.logo__img {
  width: 134px;
  height: 33px;

  @include onTablet {
    width: 77px;
    height: 45px;
  }

  @include onDesktop {
    width: 134px;
    height: 33px;
  }
}

.navigation {
  align-items: center;
  padding: 19px 0 19px 0;
  display: flex;
  gap: 20px;

  @include onTablet {
    gap: 14px;
  }

  @include onDesktop {
    gap: 20px;
  }
}

.menu {
  padding: 12px 0;
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 16px;

  @include onTablet {
    gap: 8px;
  }

  @include onDesktop {
    gap: 16px;
  }
}

.about {
  text-decoration: none;
  color: #f1efe9;
  font-size: 16px;
  font-weight: 600;
  font-family: "Aileron", sans-serif;
}

.navbar-item {
  position: relative;
  text-decoration: none;
  color: #f1efe9;
  font-size: 16px;
  font-weight: 600;
  font-family: "Aileron", sans-serif;
}

.navbar-item--active {
  font-weight: bold;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background-color: #F1EFE9; 
  }
}

.blog {
  text-decoration: none;
  color: #f1efe9;
  font-size: 16px;
  font-weight: 600;
  font-family: "Aileron", sans-serif;
}

.user__button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__icon {
  width: 48px;
  height: 48px;
  transition: transform 0.2s ease;

  @include onTablet {
    width: 32px;
    height: 32px;
  }

  @include onDesktop {
    width: 48px;
    height: 48px;
  }
}

.choose {
  position: absolute;
  width: 202px;
  // height: 110px;
  margin-top: 48px;
  background-color: rgba(46, 40, 31, 0.3019607843);
  border-radius: 8px;
  right: 40px;
}

.choose__sing {
  cursor: pointer;
  padding: 0 16px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Aileron", sans-serif;
  line-height: 30px;
  color: #e8e0d2;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: rgba(66, 55, 49, 0.6);
  }
}

.choose__login {
  cursor: pointer;
  padding: 0 16px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Aileron", sans-serif;
  line-height: 30px;
  color: #e8e0d2;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: rgba(66, 55, 49, 0.6);
  }
}

.choose__logout {
  cursor: pointer;
  padding: 0 16px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Aileron", sans-serif;
  line-height: 30px;
  color: #e8e0d2;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: rgba(66, 55, 49, 0.6);
  }
}
