.modal-feetbak {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(6, 4, 1, 0.8980392157);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  box-sizing: border-box;
}

.feetback-content {
  background: #fff;
  padding: 40px;
  border-radius: 16px;
  background-color: #f9f0e2;
  width: 563px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  // text-align: center;
  box-sizing: border-box;
  position: relative;
}

.feetbackTitle {
  font-family: "Aileron", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #0c0b09;
  text-align: center;
  margin: 0;
}

.feetbackDes {
  font-family: "Aileron", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7c746a;
  text-align: center;
  margin: 8px 0 0 0;
}

.feetbackLine {
  border: 1px solid #d6cdc0;
  display: flex;
  margin: 16px 0 40px 0;
}

.stars {
  display: flex;
  justify-content: space-between;
}

.starDes {
  display: flex;
  justify-content: space-between;
}

.text {
  font-family: "Aileron", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7c746a;
  margin: 8px 0 0 0;
}

.feetbackForm {
  margin-top: 24px;
}

.labetFeetback {
  font-family: "Aileron", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #0c0b09;
}

.feetbackBox {
  margin: 8px 0 0 0;
}

.inputFeetback {
  width: 100%;
  height: 156px;
  border-radius: 8px;
  border: 1px solid #615b52;
  background-color: transparent;
  font-family: "Aileron", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 16px;
  color: #615b52;
  box-sizing: border-box;
  resize: none;

  &::placeholder {
    color: #9a9185;
  }
}

.feetbackSub{
    width: 100%;
  height: 51px;
  background-color: #393126;
  font-family: "Aileron", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #f1efe9;
  border-radius: 8px;
  border: 1px solid #393126;
  margin: 24px 0 0 0;

  &:hover {
    background-color: #9b6a00;
    border: 1px solid #9b6a00;
  }
}