.LogIn__title {
  font-family: "Aileron", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #0c0b09;
  margin: 24px 0 0 0;
}

.regitration {
  font-family: "Aileron", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #9b6a00;
  margin: 0 0 0 8px;
  cursor: pointer;
}

.ForgotPassword {
  font-family: "Aileron", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #9b6a00;
  margin: 14px 0 0 0;
}

.LogiLine {
  border: 1px solid #d6cdc0;
  display: flex;
  margin: 4px 0 24px;
}
