@use "../../utils/mixins.scss" as *;

.header {
  background-image: url("../../image/header.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  // width: 100vw;
  height: 100vh;

  overflow: hidden;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
}

// .header__wrapper{
//   display: flex;
//   gap: 80px;
// }

.header__bottom {
  margin: 227px 40px 0 40px;

  // @include pageGrid;
}

// .header__titleWrapper {
//   grid-column: 1 / -1;
// }

.header__titleWrapper {
  padding-bottom: 80px;
}

.header__title {
  margin: 0;
  align-items: center;
  justify-content: space-between;
  display: flex;
  color: #f9f0e2;
  font-size: 86px;
  font-weight: 600;
  font-family: "Aileron", sans-serif;
}

.header__descriptionWrapper {
  display: flex;
  justify-content: space-between;

  // gap: 483px;
}

.header__description {
  color: #f9f0e2;
  font-family: "Aileron", sans-serif;
  font-weight: 400;
  font-size: 32px;
  width: 226px;
  // padding-bottom: 53px;
  margin: 0;
  line-height: 57px;
}

.header__text {
  color: #f9f0e2;
  font-family: "Aileron", sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 421px;
  margin: 0;
  line-height: 27px;
  padding-bottom: 40px;
  text-align: right;
}

.button__testWrapper {
  justify-content: flex-end;
  display: flex;
}

.button__test {
  width: 200px;
  height: 51px;
  background-color: #393126;
  border: 1px #393126 solid;
  color: #f1efe9;
  border-radius: 8px;
  font-family: "Aileron", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
