@use "../../utils/mixins.scss" as *;

.whyUs {
  margin: 112px 40px 0 40px;

  @include onTablet {
    margin: 112px 24px 0 24px;
  }
}

.whyUs__viewport {
  overflow: hidden;
}

.whyUs__card {
  display: flex;
  gap: 16px;
  transition: transform 0.3s ease-in-out;

  @include onDesktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: visible;
    transform: none !important;
  }
}

.whyUs__content {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 40px;
  border: 1px solid #d6cdc0;
  border-radius: 8px;
  box-sizing: border-box;

  @include onTablet {
    flex: 0 0 70%;
    max-width: 70%;
  }

  @include onDesktop {
    flex: none;
    max-width: 100%;
  }
}

.wrapper__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  @include onDesktop {
    display: none;
  }
}

.whyUs__Prev,
.whyUs__Next {
  background-color: transparent;
  border-radius: 100%;
  border: 1px solid #b8aea0;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #9b6a00;
    border-color: #9b6a00;
  }
}

.whyUs__number {
  background-color: #9b6a00;
  border-radius: 100%;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1efe9;
  font-family: "Aileron", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 32px;
}

.whyUs__title {
  font-family: "Aileron", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin: 0 0 16px 0;
  color: #0c0b09;
}

.whyUs__description {
  font-family: "Aileron", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #7c746a;
  margin: 0;
}
