.no-scroll {
  overflow: hidden;
  height: 100%;
}

.FillingInfo-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(6, 4, 1, 0.8980392157);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.FillingInfo-content {
  width: 554px;
  background-color: #f9f0e2;
  padding: 32px;
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
}

.closeModal {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.titleAlmost {
  font-family: "Aileron", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #0c0b09;
  text-align: center;
  margin: 0;
}

.generalInfo {
  margin: 16px 0 0 0;
}

.PriceTilte {
  font-family: "Aileron", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #4b463e;
  text-align: center;
  margin: 0;
}

.PriceLabel {
  margin-right: 16px;
}

.PriceAmount {
  font-weight: 700;
  font-size: 20px;
  color: #0c0b09;
}

// .PricePoint {
//   line-height: 30px;
// }

.PriceDuration {
  color: #0c0b09;
}

.WrapperTimeDay {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.BoxTimeDay {
  margin: 8px 0 0 0;
  display: flex;
  gap: 8px;
}

.titleTimeDay {
  font-family: "Aileron", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #4b463e;
  margin: 0;
}

.FillingLine {
  border: 1px solid #d6cdc0;
  display: flex;
  margin: 24px 0 32px 0;
}

.aboutYouTitle {
  font-family: "Aileron", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #0c0b09;
  margin: 0;
  text-align: center;
}

.aboutYouDes {
  font-family: "Aileron", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #615b52;
  margin: 8px 0 0 0;
  text-align: center;
}

.FormAboutYou {
  margin: 24px 0 0 0;
}

.wrappeBoxInput {
  display: flex;
  gap: 24px;
}

.labelFirst {
  font-family: "Aileron", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #0c0b09;
}

.field__First {
  flex-grow: 1;
}

.inputFirst {
  width: 100%;
  height: 51px;
  border: 1px solid #615b52;
  border-radius: 8px;
  background-color: transparent;
}

.field__LastName {
  flex-grow: 1;
}

.label__LastName {
  font-family: "Aileron", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #0c0b09;
}

.LastNameBox {
  margin: 8px 0 0 0;
}

.inputLastName {
  width: 100%;
  height: 51px;
  border: 1px solid #615b52;
  border-radius: 8px;
  background-color: transparent;
}
.wrapperBoxEmail {
  margin: 24px 0 8px 0;
}

.emailBox {
  margin: 8px 0 0 0;
}

.labelEmail {
  font-family: "Aileron", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #0c0b09;
}

.emailDes{
  font-family: "Aileron", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #615B52;
  margin: 8px 0 0 0;
}

.FillingContinueBt{
  width: 100%;
  height: 51px;
  background-color: #393126;
  font-family: "Aileron", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #f1efe9;
  border-radius: 8px;
  border: 1px solid #393126;
  margin: 24px 0 0 0;

  &:hover {
    background-color: #9b6a00;
    border: 1px solid #9b6a00;
  }
}